/* DEFAULT STYLES FOR PAGE */
:root {
    --vintage-brown: #DCC3A0;
    --dark-green: #485633;
    --swamp-green: #9BA67B;
    --tea-green: #D0DDC1;
    --accent-pink: #CC828B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL STYLES */
body {
    background-color: var(--vintage-brown);
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--dark-green)
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 90px 20px 90px;
}

main {
    margin: 100px 20vw;
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* HEADER */
nav h3 {
    font-size: 24px;
}

.highscores {
    color: var(--accent-pink);
    transition: .5s ease;
}

.highscores:hover {
    color: var(--tea-green);
    cursor: pointer;
}

.timer {
    color: var(--tea-green);
}

/* TITLE PAGE STYLING */
.quizTitle {
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

p {
    color: var(--swamp-green);
    font-size: 36px;
    text-align: center;
    margin: 25px 0;
}

button {
    margin: 10px 0;
    background: var(--dark-green);
    color: var(--swamp-green);
    border: none;
    font-size: 1.8vw;
    padding: 15px;
    border-radius: 10px;
    transition: .5s ease;
}

button:hover {
    background-color: var(--accent-pink);
    color: var(--dark-green);
    cursor: pointer;
}

.startQuiz {
    margin: 10px auto;
    width: 25%;
}

/* QUESTION STYLING */
main section h1 {
    font-size: 2.5vw;
    color: var(--dark-green);
}

.questionSection {
    display: flex;
    justify-content: start;
}

.questionSection h1 {
    text-align: left;
}

/* ANSWER STYLING */
.answerDiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 40%;
    margin: 20px 0;
}

.answerDiv button {
    text-align: left;
    padding-left: 25px;
}

/* FEEDBACK STYLING */
.feedbackSection {
    margin-top: 20px;
    border-top: 3px solid var(--accent-pink);
}

.feedbackSection h2 {
    color: var(--accent-pink);
    font-size: 1.5vw;
    font-style: italic;
    margin-top: 20px;
}

/* Endgame Title Screen */
.endTitle {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

form {
    font-size: 30px;
    color: var(--swamp-green);
    text-align: center;
}

form label {
    margin-bottom: 10px;
}

form input {
    background-color: var(--swamp-green);
    border: none;
    font-size: 30px;
    padding: 3px 20px;
    margin: 0 5px;
    color: var(--dark-green);
    border-radius: 10px;
}

form input:focus {
    outline: none;
}

input[type="submit"] {
    transition: .5s ease;
}

input[type="submit"]:hover {
    background-color: var(--dark-green);
    color: var(--accent-pink);
}

/* HIGHSCORE PAGE */
.scorePara {
    background-color: var(--dark-green);
    color: var(--accent-pink);
    text-align: left;
    padding: 10px;
    margin: 5px 0;
    transition: .5s ease;
}

.scorePara:hover {
    background-color: var(--tea-green);
}

#deleteBtn {
    float: right;
    font-size: 15px;
    color: var(--accent-pink);
}

#deleteBtn:hover {
    background-color: var(--tea-green);
}

#playBtn {
    float: center;
    font-size: 18px;
    margin-right: 5px;
}

#returnBtn {
    float: left;
    margin-top: 30px;
    width: 25%;
}